In [ ]:
# Print your name here:
print("")

# Boolean Expressions
Today we will learn the logic of creating boolean expressions.

This is an easy, code-along exercise for you to do with your teacher.

Learning to work with Boolean Expressions is the first step towards learning to **control the flow and logic** of your code.

**Today we will practice:**
1. Declaring a Boolean
2. Boolean Operator logic
3. Using Booleans on numbers and strings

### Boolean variables
It's very easy to create a boolean. You can simply assign a value to a variable as shown below:

In [ ]:
bool_1 = True
bool_2 = False

In [ ]:
# Try it yourself. Make 2 variables, each with a different boolean value

In [ ]:
# Call your first variable and check the output

In [ ]:
# Call your second variable and check the output

## Boolean Operators
Remember the Boolean operators? There are a few types - the first is "Comparison" (also known as "Relational")

These operators allow us to compare variables/values and output a Boolean result.

## Comparison Operators
Here is a table of the Comparison operators with some examples:

<h2> Table of Comparison Operators </h2>

<p>  In the table below: </p>
    
    a = 3
    b = 4

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is False.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is True</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is False.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is True.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is False. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is True. </td>
</tr>
</table>

**Lets try it!**

### Equality

#### Numbers

In [ ]:
# Lets start simple- ask if 2 numbers are equal (remember to use double equal sign "==")

In [ ]:
# In this expression, we are asking "is the sum of 3+3 equal to the sum of 2 + 4". Run this cell
(3 + 3) == (2 + 4)

In [ ]:
# Copy the above code and change the operator to "not equal"

In [ ]:
# Here, we are asking if the quotient of 10 / 2 is equal to the sum of 3 + 5. Run this cell
(10 / 2) == (3 + 5)

In [ ]:
# Make an expression that checks if 7 / 2 is equal to 7 // 2

#### Strings

In [ ]:
# We can use this on strings as well. First, run this code to save the value below
a = "Needle"

In [ ]:
# Now, ask python if the variable 'a' is equal to the string 'Needle'

In [ ]:
# Ask if the letter in the third index position (2) is the same as the letter in index position -1 (use indexing)

In [ ]:
# Now ask if the first letter (index 0) is the same as the 6th (index 5)

In [ ]:
# Save this variable
b = "Race fast safe car"

In [ ]:
# Ask if the first and last letters of the variable "b" are the same

In the above example, both letters are "r" but we still received a "False" output. That's because python operators are **CASE-SENSETIVE** when comparing strings

### Greater/Less than

In [ ]:
# Ask if 5 is greater than 3?

In [ ]:
# What will be the output of this expression?
# ((10 * 2) - (2 + 3)) < ((12 // 3) * (10 - 2))
# Write your answer here: 
#

In [ ]:
# Here, we are asking if the first number is the same as or greater than the second number
5 >= 4

In [ ]:
# How would we ask if the first number is LESS THAN or EQUAL TO the second number?

## Logical Operators
The second kind of Boolean operator is "Logical"

Logical Operators allow us to combine expressions together.

<h2> Table of Logical Operators </h2><p> and/or/not operators </p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example A</th><th>Example B</th>
</tr>
<tr>
<td>and</td>
<td>Checks 2 or more conditions. If ALL are True, the whole statement is True. If even ONE is False, the whole statement is False</td>
<td> (3 == 3) and (5 != 6) is True.</td>
<td> (2 == 4) and (5 != 6) is False.</td>
</tr>
<tr>
<td>or</td>
<td>Checks 2 or more values. Only ONE must be True for the whole statement to be True. If ALL statements are False, the whole statement is False</td>
<td>(1 == 1) or (2 > 3) is True</td>
<td>(1 == 2) or (1 > 2) is False</td>
</tr>
<tr>
<td>not</td>
<td>Reverses the output of a True/False statement.</td>
<td> not(1 == 2) is True.</td>
<td> not(1 == 1) is False.</td>
</tr>
</table>

#### AND statements

In [ ]:
# if we use the "and" operator, both statement 1 AND statement 2 must evaluate to "True" for us to receive a "True" output
5 == 5 and 6 > 2

In [ ]:
# Will this statement be True or False?
# (5 + 3) == (4 * 2) and (3 * 4) != (6 * 2)
# Answer here:
#

#### OR statements

In [ ]:
# Using the "or" operator requires ONLY ONE statement to be True in order to return a "True" value.
# Run this code and check the output.
4 > 3 or 4 > 7

In [ ]:
# Try to guess the output of this statement
# (4 // 2) <= (1 + 1) or (7 * 5) == (4 * 8)
# Answer here
#

#### NOT Statements

In [ ]:
# This statement is True
5 + 2 == 7

In [ ]:
# So this will reverse the value
not(5 + 2 == 7)

In [ ]:
# Make a boolean statement here - however you prefer

In [ ]:
# Make the same boolean statement, but reverse the outcome using "not"

## Membership Operators
The membership operators checks an object to see if a sequence exists in it (or not). For this to work, the object must be an iterable sequence, such as a string or a list (more about lists later)

<h2> Table of Membership Operators </h2><p> in/not in </p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example A</th><th>Example B</th>
</tr>
<tr>
<td>in</td>
<td>Checks for an object or sequence within another sequence.</td>
<td>"Py" in "Python" is True.</td>
<td>"Z" in "Python" is False.</td>
</tr>
<tr>
<td>not in</td>
<td>Returns the opposite result. Checks if an object or sequence is NOT found in another sequence</td>
<td>"Py" not in "Python" is False</td>
<td>"Z" not in "Python" is False.</td>
</tr>
</table>

In [ ]:
# Here, we take another quote from our favorite show and check if the word "Death" is contained in it
text = "What do we say to the God of Death?"

In [ ]:
# Note that the check is case-sensetive. Write the above statement with a lowercase "d"

In [ ]:
# How would you make the previous statement return the OPPOSITE value?

## Identity Operators
The "is" operator asks if 2 objects are the same.

<h2> Table of Identity Operators </h2><p> Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same address in the RAM: </p>

In the table below:
    
    1. a = 5
    2. b = a

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>is</td>
<td>Returns True if both variables are the same object</td>
<td>(a is b) is True.</td>
</tr>
<tr>
<td>is not</td>
<td>Returns true if both variables are NOT the same object</td>
<td>(a is not b) is False</td>
</tr>
</table>

In [ ]:
x = "My String"
y = "My String"
z = x

In [ ]:
# This returns false because even though both variables contain the same string value, they are not explicitly the same object
x is y

In [ ]:
# Since we assigned z to be x, this returns True
z is x

In [ ]:
# The exception is integers between -5 and 256, each of which is a single object.
x = 3 * 5
y = 10 + 5
z = x

In [ ]:
x is y

In [ ]:
# won't work with integers outside of the -5 to 256 range
a_1 = 257
b_1 = 257
a_2 = -6
b_2 = -6

In [ ]:
a_1 is b_1

In [ ]:
a_2 is b_2

In [ ]:
# Look at these variables:
num_1 = 256
num_2 = 128
num_3 = num_1 + num_2
num_4 = num_3

In [ ]:
# Will this statement be True or False? Answer as a comment without running the code:
num_3 is not num_1
# Answer here:
#

In [ ]:
# Will this statement be True or False? Answer as a comment without running the code:
num_4 is num_2
# Answer here:
#

In [ ]:
# Will this statement be True or False? Answer as a comment without running the code:
num_1 is not num_2
# Answer here:
#

In [ ]:
# Will this statement be True or False? Answer as a comment without running the code:
num_3 is not num_4
# Answer here:
#

In [ ]:
# Will this statement be True or False? Answer as a comment without running the code:
num_3 is num_4
# Answer here:
#

# Easy, right?
### Mastering Boolean logic is essential to being an effective coder.